/*Style Sheet for Assignment 1 - Bio Page*/

body {
    background-color: #EAFCFF;
    font-family: Avenir;
    font-size: 18px;
    color: black;
}

div {
    text-align:center;
    background-color:white;
}

    
